@{
    ViewData["Title"] = "Home Page";
}

    <div class="ct" id="t1">
        <div class="bg-image"></div>
        <div class="ct" id="t2">
            <div class="ct" id="t3">
                <div class="ct" id="t4">
                    <section>
                        <ul>
                            <a class="home-li" href="#t1">
                                <li class="icon fa fa-home" id="uno"></li>
                            </a>
                            <a class="home-li" href="#t2">
                                <li class="icon fa fa-user-circle-o" id="dos"></li>
                            </a>
                            <a class="home-li" href="#t3">
                                <li class="icon fa fa-file-code-o" id="tres"></li>
                            </a>
                            <a class="home-li" href="#t4">
                                <li class="icon fa fa-address-book-o" id="cuatro"></li>
                            </a>
                        </ul>
                        <div class="page" id="p1">
                            <li class="icon" style="left:10% !important; top:25%;">
                                <span class="title" >Freddy da Cruz</span>
                                <span class="hint" >Computer science student
                                    <br/>At Rotterdam University of Applied Science</span>
                            </li>
                        </div>
                        <div class="page" id="p2">
                            <li class="icon fa fa-user-circle-o">
                                <span class="title">Info</span>
                                <p>github test met azure</p>
                            </li>
                        </div>
                        <div class="page" id="p3">
                            <li class="icon fa fa-file-code-o">
                                <span class="title">Projects</span>
                            </li>
                        </div>
                        <div class="page" id="p4">
                            <li class="icon fa fa-address-book-o">
                                <span class="title">Contact</span>
                                <span class="hint">
                                    <a href="https://github.com/FDaCruz" target="_blank">My Github Page</span>
                            </li>
                        </div>
                        <!-- <p class="credit"> Original Pen by
                            <a href="https://codepen.io/hrtzt/">Alberto Hartzet</a>
                        </p> -->
                    </section>
    
                </div>
            </div>
        </div>
    </div>